<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="$safeprojectname$.Properties.Settings.Library_mgmtConnectionString"
            connectionString="Data Source=SAAD-PC\SQLEXPRESS;Initial Catalog=Library_mgmt;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>